{{ define "memo" }}

{{ template "base_top" . }}

{{$baseUrl := .BaseUrl}}

<p id="author">
{{ if .Memo.IsPrivate }}
Private
{{ else }}
Public
{{ end }}
Memo by {{ .Memo.Username }} ({{ .Memo.CreatedAt }})
</p>

<hr>
{{ if .Older }}
<a id="older" href="{{$baseUrl}}/memo/{{ .Older.Id }}">&lt; older memo</a>
{{ end }}
|
{{ if .Newer }}
<a id="newer" href="{{$baseUrl}}/memo/{{ .Newer.Id }}">newer memo &gt;</a>
{{ end }}

<hr>
<div id="content_html">
{{ .Memo.Markdown }}
</div>

{{ template "base_bottom" . }}

{{ end }}
